# Answer

In [37]:
print ('Financial Analysis')
print ('----------------------')
print(f'Total Months : {total_number_months}')
print(f'Total: ${total_profit_losses}')
print(f'Average Change: ${average_change}')
print(f'Greatest Increase in Profits: {bankdata.iloc[25]["Date"]} ${greatest_increase}')
print(f'Greatest Decrease in Profits: {bankdata.iloc[44]["Date"]} ${greatest_decrease}')

Financial Analysis
----------------------
Total Months : 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: 12-Feb $1926159
Greatest Decrease in Profits: 13-Sep $-2196167

# Behind the scenes

In [2]:
import pandas as pd #importing necessary library and tools
%matplotlib inline

In [3]:
bankdata = pd.read_csv('pybank_data.csv') #loading df in memory
bankdata.head()

     Date  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503

In [4]:
bankdata.columns #identifies what the columns are

Index(['Date', 'Profit/Losses'], dtype='object')

In [5]:
bankdata.describe() #gives stats on data

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [6]:
total_number_months = bankdata['Date'].count()  #Total number of months included in Dataset
total_number_months

86

In [7]:
total_profit_losses = bankdata['Profit/Losses'].sum() #Net total number of Profit/Losses over the entire period
total_profit_losses

38382578

In [8]:
bankdata['Profit/Losses'].mean() #average profit of entire period

446309.0465116279

In [12]:
difference = bankdata['Profit/Losses'].diff() #found change in profit by finding difference from rows
difference

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [13]:
total_difference = difference.sum() # found total change by adding all differences

In [14]:
average_change = round(total_difference/(total_number_months-1),2) #found average by dividing total_difference by amount of differences
average_change

-2315.12

In [17]:
greatest_increase = round(difference.max(),) #finds the greatest increase from rows in 'difference' column
greatest_increase

1926159

In [20]:
greatest_increase_index= difference.idxmax() #finds the index of highest value
greatest_increase_index

25

In [21]:
bankdata.iloc[25] #brings the value of index 25

Date              12-Feb
Profit/Losses    1170593
Name: 25, dtype: object

In [23]:
greatest_decrease = round(difference.min(),) #finds the lowest number from 'difference' column
greatest_decrease

-2196167

In [30]:
greatest_decrease_index= difference.idxmin() #identifies index of lowest  number from 'difference' column
greatest_decrease_index

44

In [32]:
bankdata.iloc[44]#brings the value of index 44

Date               13-Sep
Profit/Losses    -1196225
Name: 44, dtype: object